<div id="maidDefenetion" class="page-layout carded fullwidth">
  <!-- TOP BACKGROUND -->
  <!-- <div class="top-bg accent"></div> -->
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT HEADER -->
    <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT TOOLBAR -->
      <div class="toolbar primary px-24 py-8">
        <span>{{ 'CATEGORY.TITLE' | translate }}</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->

      <div class="example-container mat-elevation-z8">
        <dx-data-grid
          #Grid
          id="gridContainer"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [remoteOperations]="true"
          [dataSource]="dataSource"
          [showBorders]="true"
          [wordWrapEnabled]="true"
          [masterDetail]="{enabled: true, template: 'detail'}"
          (onInitNewRow)="gridInitNewRow($event)"
          (onRowPrepared)="onRowPrepared($event)"
        >
          <dxi-column [allowSorting]="false" [caption]="'Id'" dataField="id" [visible]="false" [formItem]="{visible: false}" dataType="number"> </dxi-column>

          <dxi-column [allowSorting]="false" [caption]="'ORDER.TOTAL_PRICE' | translate" dataField="totalPrice" format="currency" dataType="number">
            <dxo-format type="currency" precision="2"></dxo-format>
          </dxi-column>
          <dxi-column [calculateDisplayValue]="paymentMethodsDisplayValue" [allowSorting]="false" [caption]="'ORDER.PAYMENT_METHOD' | translate" dataField="paymentMethod">
          </dxi-column>
          <dxi-column [allowSorting]="false" sortOrder="desc" [caption]="'ORDER.CREATE_DATE' | translate" dataField="createDate" dataType="date" format="dd.MM.yyyy, HH:mm">
          </dxi-column>

          <dxi-column [allowSorting]="false" [caption]="'ORDER.CUSTOMER.FULL_NAME' | translate" dataField="customer.fullName"> </dxi-column>
          <dxi-column [allowSorting]="false" [caption]="'ORDER.CUSTOMER.PHONE_NUMBER' | translate" dataField="customer.phoneNumber"> </dxi-column>
          <dxi-column type="buttons">
            <dxi-button [hint]="'ORDER.CUSTOMER.LOCATION' | translate" icon="fas fa-route" [onClick]="directToLocation"></dxi-button>
          </dxi-column>
          <dxi-column [allowSorting]="false" cellTemplate="userNameCellTemplate"> </dxi-column>
          <div *dxTemplate="let row of 'userNameCellTemplate'">
            <i
              *ngIf="row.data?.customer.telegramUserName"
              style="cursor: pointer"
              class="fab fa-telegram"
              (click)="getInTouch(row.data)"
              [title]="'ORDER.GET_IN_TOUCH' | translate"
            ></i>
          </div>

          <dxi-column [allowSorting]="false" [calculateDisplayValue]="orderStatusColumnCustomizeText" cellTemplate="orderStausTemplate"> </dxi-column>
          <div *dxTemplate="let row of 'orderStausTemplate'">
            <dx-drop-down-button
              [disabled]="row.data.orderStatus === 5 || row.data.orderStatus === 6 || row.data.orderStatus === 8"
              [splitButton]="true"
              [useSelectMode]="false"
              [text]="row.text"
              [items]="[{value: 1, name: 'CANCEL' | translate, icon: 'fas fa-ban'}]"
              displayExpr="name"
              keyExpr="id"
              (onButtonClick)="onOperationItemClick($event, row)"
              (onItemClick)="cancelOrder($event, row)"
            ></dx-drop-down-button>
          </div>
          <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

          <div *dxTemplate="let order of 'detail'">
            <dx-form #formInstance [showColonAfterLabel]="true" [readOnly]="true" [formData]="order?.data" labelLocation="top" colCount="2">
              <dxi-item dataField="note" [label]="{text: ('ORDER.NOTE' | translate)}"></dxi-item>
              <dxi-item dataField="customer.address" [label]="{text: ('ORDER.CUSTOMER.ADDRESS' | translate)}" editorType="dxTextArea"></dxi-item>
            </dx-form>

            <hr />
            <ng-container *ngIf="order.data.orderChannel === 'GETIR'">
              <dx-form #formInstance [showColonAfterLabel]="true" [readOnly]="true" [formData]="order?.data?.getirOrder" labelLocation="top" colCount="3">
                <dxi-item dataField="id" [label]="{text: 'ORDER.ORDER_NO' | translate}"></dxi-item>
                <dxi-item dataField="isScheduled" [label]="{text: 'ORDER.IS_SCHEDULED' | translate}"></dxi-item>
                <dxi-item dataField="courierName" [label]="{text: 'ORDER.COURIER_NAME' | translate}"></dxi-item>
                <dxi-item dataField="doNotKnock" [label]="{text: 'ORDER.DO_NOT_KNOCK' | translate}"></dxi-item>
                <dxi-item dataField="dropOffAtDoor" [label]="{text: 'ORDER.DROP_OFF_AT_DOOR' | translate}"></dxi-item>
                <dxi-item dataField="isEcoFriendly" [label]="{text: 'ORDER.IS_ECO_FRIENDLY' | translate}"></dxi-item>
                <dxi-item dataField="totalPrice" [label]="{text: 'ORDER.TOTAL_PRICE' | translate}"></dxi-item>
                <dxi-item dataField="clientName" [label]="{text: 'ORDER.CLIENT_NAME' | translate}"></dxi-item>
                <dxi-item dataField="clientDeliveryAddress" [label]="{text: 'ORDER.CLIENT_DELIVERY_ADDRESS' | translate}"></dxi-item>
                <dxi-item dataField="clientDistrict" [label]="{text: 'ORDER.CLIENT_DISTRICT' | translate}"></dxi-item>
                <dxi-item dataField="clientCity" [label]="{text: 'ORDER.CLIENT_CITY' | translate}">
                  <dxo-format type="currency" precision="2"></dxo-format>
                </dxi-item>
              </dx-form>
              <hr />
              <dx-data-grid [allowColumnResizing]="true" [columnAutoWidth]="true" [dataSource]="order.data.orderItems" [showBorders]="true">
                <dxi-column [caption]="'ORDER.AMOUNT' | translate" dataField="amount"> </dxi-column>
                <dxi-column [caption]="'ORDER.PRODUCT_TITLE' | translate" dataField="product.title"> </dxi-column>
                <dxi-column [caption]="'ORDER.PRODUCT_DESCRIPTION' | translate" dataField="product.description"> </dxi-column>
                <dxi-column [caption]="'ORDER.UNIT_PRICE' | translate" dataField="product.unitPrice" format="currency" dataType="number">
                  <dxo-format type="currency" precision="2"></dxo-format>
                </dxi-column>
                <dxi-column [caption]="'ORDER.PRODUCT_OPTIONS' | translate" dataField="orderOptions" cellTemplate="optionsTemplate"> </dxi-column>

                <dxi-column [caption]="'ORDER.PRODUCT_NOTE' | translate" dataField="itemNote"> </dxi-column>
                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

                <div *dxTemplate="let cell of 'optionsTemplate'">
                  <ul>
                    <ng-container *ngFor="let orderOption of cell.data.orderOptions">
                      <li>{{ orderOption?.option?.name + ' ' + orderOption?.price + ' ₺' }}</li></ng-container
                    >
                  </ul>
                </div>
              </dx-data-grid>
            </ng-container>
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
