<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar primary px-24 py-8">
                <span>{{'ROLE_MANAGEMENT.TITLE' | translate}}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->

            <div class="example-container mat-elevation-z8">

                <dx-data-grid #RolesGrid id="gridContainer" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [remoteOperations]="true" [dataSource]="rolesGridStore" [showBorders]="true"
                    [masterDetail]="{ enabled: true, template: 'detail' }">
                    <dxi-column [caption]="'Id'" dataField="Id" [visible]="false" [formItem]="{visible: false}"
                        dataType="number">
                    </dxi-column>
                    <dxi-column [caption]="'ROLE_MANAGEMENT.ROLE_NAME' | translate" dataField="RoleName">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxo-editing mode="popup" [allowUpdating]="AllowUpdate" [allowDeleting]="AllowDelete"
                        [allowAdding]="AllowAdd">
                        <dxo-popup [width]="'auto'" [height]="'auto'">
                        </dxo-popup>
                    </dxo-editing>
                    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                    <div *dxTemplate="let role of 'detail'">
                        <dx-tree-list #PermessionsTree id="tree-list" [dataSource]="permessionsListStore"
                            keyExpr="PermessionKey" parentIdExpr="ParentKey" hasItemsExpr="IsParent"
                            [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" [wordWrapEnabled]="true"
                            [(selectedRowKeys)]="role.data.RolePermessionsIds">

                            <dxo-selection mode="multiple" [recursive]="false">
                            </dxo-selection>
                            <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
                            <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                            <dxi-column dataField="Id" [visible]="false" [formItem]="{visible: false}"></dxi-column>
                            <dxi-column dataField="PermessionKey" [calculateDisplayValue]="treeListTitleDisplayValue">
                            </dxi-column>
                        </dx-tree-list>
                        <button [disabled]="!AllowUpdatingPermessions"
                            (click)="Save(PermessionsTree.instance.getSelectedRowsData('all'),role.data.Id)"
                            mat-raised-button color="accent" style="float: right;">
                            {{'ROLE_MANAGEMENT.SAVE' | translate}}
                        </button>
                    </div>
                </dx-data-grid>

            </div>
        </div>
    </div>
</div>