<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar primary px-24 py-8">
                <span>{{'CATEGORY.TITLE' | translate}}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->

            <div class="example-container mat-elevation-z8">

                <dx-data-grid #Grid id="gridContainer" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [remoteOperations]="true" [dataSource]="store" [showBorders]="true">
                    <dxi-column [caption]="'Id'" dataField="Id" [visible]="false" [formItem]="{visible: false}"
                        dataType="number">
                    </dxi-column>

                    <dxi-column [caption]="'CATEGORY.NAME' | translate" dataField="Name">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column [caption]="'CATEGORY.CATEGORY_KEY' | translate" dataField="CategoryKey">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxo-editing mode="popup" [allowUpdating]="AllowUpdate" [allowDeleting]="AllowDelete"
                        [allowAdding]="AllowAdd">
                        <dxo-popup title="" [width]="'auto'" [height]="'auto'">
                        </dxo-popup>
                    </dxo-editing>
                    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                </dx-data-grid>

            </div>
        </div>
    </div>
</div>